/* MAIN */
main section.header {
  text-align: center;
  background-color: var(--compliment);
  min-height: 120px;
  margin-top: 10px;
  
  ul.breadcrumb {
    list-style: none;
    padding: 10px 0px 0px 0px;
    
    li {
      display: inline;
      font-size: 0.85rem;
    }

    li+li:before {
      padding: 8px;
      font-weight: 300;
      font-size: 1.5rem;
      content: ">\00a0";
      vertical-align: sub;
    }
  }

  h2 {
    font-size: 2.5rem;
    padding: 0px 0px 10px 0px;
  }
}


main section.ponudba-grid {
  div.gallery {
    margin: 0px 10px 50px 10px;

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    ul li {
      list-style-type: none;
      padding: 30px 15px;

      h2 {
        margin: 0px 15px 0px 15px;
      }

      button {
        margin: 15px 0px 0px 15px;
      }
    }
  }
}
/* -- -- */ 