/* MAIN */
main section.header {
  text-align: center;
  background-color: var(--compliment);
  max-height: 120px;
  margin-top: 10px;
  
  ul.breadcrumb {
    list-style: none;
    padding: 10px 0px 0px 0px;
    
    li {
      display: inline;
      font-size: 0.85rem;
    }

    li+li:before {
      padding: 8px;
      font-weight: 300;
      font-size: 1.5rem;
      content: ">\00a0";
      vertical-align: sub;
    }
  }

  h2 {
    font-size: 2.5rem;
    padding: 0px 0px 10px 0px;
  }
}


main section.kontakt {
  min-height: 900px;
  padding: 45px 25px;
  
  div.header {
    text-align: center;
    padding: 15px;
  }

  div.kontakt-podatki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 50px 0px 10px 0px;

    ul li {
      list-style-type: none;
      display: flex;
      gap: 25px;

      img {
        width: 30px;
        padding: 5px 0px 0px 0px;
      }

      p {
        font-weight: 400;
        margin: 5px 0px 0px 0px;
      }
    }

    ul li:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }

    form {
      border-left: 1px solid var(--gray-1);
      padding: 0px 0px 0px 70px;

      label {
        font-size: 0.9rem;
      }

      input {
        width: 400px;
        margin: 5px 0px 5px 0px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--gray-2);
      }

      input[type="tel"] {
        width: 310px;
      }
      input[id="Telefon-country"] {
        width: 85px;
      }

      textarea {
        width: 400px;
        margin: 5px 0px 5px 0px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--gray-2);
      }
    }
  }
}

main section.map {
  min-height: 750px;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--accent);
  
  div.header {
    text-align: center;
    padding: 15px;
  }

  img.map {
    height: 600px;
    border-radius: 10px;
  }
}
/* -- -- */ 